<!DOCTYPE html>
<html>
	<head>
		<title>Novo Produto Criado</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Novo produto criado!</h1>
		<table border="1">
			<tr>
				<th>ID:</th>
				<td>
					<span th:text="${novoProduto.id}"></span>
				</td>
			</tr>
			<tr>
				<th>Nome:</th>
				<td>
					<span th:text="${novoProduto.nome}"></span>
				</td>
			</tr>
			<tr>
				<th>Descrição:</th>
				<td>
					<span th:text="${novoProduto.descricao}"></span>
				</td>
			</tr>
			<tr>
				<th>Preço:</th>
				<td>
					<span th:text="${novoProduto.preco}"></span>
				</td>
			</tr>
		</table>
	</body>
</html>