<!DOCTYPE html>
<html>
	<head>
		<title>Produto</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Produto</h1>
	
		<form action="/produto/novo" method="post">
		
			<input type="hidden" name="id" th:value="${produto.id}"> <br>
	
			<span for="nome">Nome:</span>
			<input type="text" name="nome" th:value="${produto.nome}"> <br>
			
			<span for="descricao">Descrição:</span>
			<input type="text" name="descricao" th:value="${produto.descricao}"> <br>
			
			<span for="preco">Preço:</span>
			<input type="text" name="preco" th:value="${produto.preco}"> <br>
			
			<span for="tipo">Tipo Produto:</span>
			<select name="tipo">
				<option value="0">Selecione um tipo</option>
				<option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.nome}" 					th:selected="${produto.tipo != null and tipo.id == produto.tipo.id}">
			</select> <br>
			
			<input type="submit" value="Salvar">
		</form>
		
	</body>
</html>
